* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}

*::selection {
    background-color: #6C5DD4;
    color: #ffffff;
}

:root {
    --main-color: #12142D;
    --green-color: #FF764C;
    --sub-color: #6C5DD4;
    --sub-bg: #F1EEFF;
    --text-small: 15px;
}

body {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    /* height: 3000px; */
    direction: rtl;
}

input:focus,
input:active {
    border: none !important;
    outline: none !important;
}

input::placeholder {
    font-size: var(--text-small);
    color: #0000006c !important;
}

.icon {
    background-color: var(--sub-bg);
    color: var(--sub-color);
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.icon i {
    font-size: 16px;
}

.mainBtn {
    background-color: var(--sub-color);
    color: #fff;
    font-size: var(--text-small);
    border-radius: 8px;
    font-weight: 500;
    padding: 8px 20px !important;
    transition: all 0.3s;
}

.mainBtn:hover {
    background-color: transparent;
    color: var(--sub-color);
    border: 1px solid var(--sub-color);
}

.subBtn {
    background-color: transparent;
    color: var(--sub-color);
    font-size: var(--text-small);
    border: 1px solid var(--sub-color);
    border-radius: 8px;
    font-weight: 500;
    padding: 8px 20px !important;
    transition: all 0.3s;
}

.subBtn:hover {
    background-color: var(--sub-color);
    color: #fff;
    border: none;
}

/* ----------------------- NAVBAR ----------------------------- */

.logo {
    min-width: 18%;
}

.imgLogo {
    background-color: var(--sub-color);
    color: #fff;
    padding: 2px 5px;
    border-radius: 6px;
}

.navbar .logo h1 {
    color: #12142D !important;
}

.navbar .logo p {
    font-size: var(--text-small);
}

.navbar-toggler i {
    color: var(--main-color);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
}

.navbar form {
    width: 60%;
    border-radius: 8px;
}

.navbar form input {
    border: none !important;
    width: 100%;
    padding: 0px 10px;
}

.navbar form input:focus {
    border: none !important;
    outline: none !important;
}

.navbar form .form-control {
    border: none !important;
    outline: none !important;
}

.form-control.border-0 {
    border: none !important;
}

.searchIcon {
    color: var(--sub-color);
}

/* ------------------------------------------------------- */

.header {
    height: 65vh;
}

.backToSchool {
    background-color: #eaf5f8;
    /* background-image: url(../images/bg.png); */
    background-position: center center;
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
}

.prg1 {
    color: var(--sub-color);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin: 0;
}

.backToSchool h2 {
    color: var(--main-color);
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
}

.backToSchool h4 {
    color: var(--main-color);
    margin: 0;
}

.desc {
    font-size: var(--text-small);
}

.promosBtn {
    background-color: transparent;
    color: var(--main-color);
    border: 1px solid #00000044;
}

.bestSeller {
    /* background-color: #a3c3cc; */
    /* background-image: url(../images/bg.png); */
    background-position: center center;
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: relative;
}

.bgBlur {
    height: 100% !important;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 12px;
}

.bgBlur img {
    height: 100% !important;
    filter: blur(5px);
    object-fit: cover;
    overflow: hidden;
    border-radius: 12px;
}

.bestSellerContent {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    text-align: center;
    height: 100%;
}

.bestSellerContent img {
    border: 1px solid #fff;
    border-radius: 12px;
    min-height: 150px;
    max-height: 180px;
}

.bestSellerContent h4 {
    font-size: 18px;
}

.bestSellerContent p {
    font-size: var(--text-small);
    margin: 0;
}


.servText h3 {
    color: var(--main-color);
}

.servText p {
    font-size: var(--text-small);
}



/* -------------------------------Offers-------------------------------- */

.sectionTitle h3 {
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--main-color);
}

.sectionTitle p {
    font-size: var(--text-small);
}


.offerBox {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.offerBox img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.offerData h2 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 25px;
}

.categories p {
    background-color: var(--sub-bg);
    color: var(--sub-color);
    padding: 5px 10px;
    border-radius: 8px;
    font-size: var(--text-small);
}

.offerDesc {
    font-size: var(--text-small);
}

.offerData h5 {
    font-weight: 500;
}

/* -------------------------------freshSale-------------------------------- */

.countdown {
    width: fit-content;
    margin: 0 auto;
    padding: 12px 22px;
    border-radius: 8px;
    border: 1px solid #0000003f;
}

.countdown h2 {
    color: var(--green-color);
    font-weight: 800;
    font-size: 38px;
}

.saleImg img {
    border-radius: 8px;
    min-height: 250px !important;
    /* max-height: 230px !important; */
}

.saleData h3 {
    color: var(--main-color);
    font-weight: 700;
}

.saleData .category {
    color: var(--sub-color);
    font-size: var(--text-small);
}

.saleData .newSalary {
    color: var(--sub-color);
    font-weight: 800;
}

.oldSalary {
    text-decoration: line-through;
}

/* --------------------------------------------------------------- */

.onSaleTitle {
    position: relative;
}

.onSaleTitle h2 {
    font-weight: 800;
}

.swiper2Paginatiion {
    position: relative;
}

.swiperControl i {
    font-size: 16px;
    background-color: var(--sub-bg);
    color: var(--sub-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 50%;
}

.inSaleImg img {
    border-radius: 8px;
    min-height: 250px !important;
    /* max-height: 230px !important; */
}

.rate {
    color: var(--green-color);
}

/* --------------------------------------------------------- */

.featuredBookDetails {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featuredBookImage img {
    border-radius: 8px;
}

.featuredBooks {
    background-color: var(--sub-bg);
}

.featuredBookIcon {
    position: relative;
}

.bookmarkIcon {
    color: var(--sub-color);
}

.starIcon {
    position: absolute;
    right: 10px;
    top: -8px;
    font-size: var(--text-small);
    background-color: var(--green-color);
    color: #fff;
    padding: 5px;
    border-radius: 50%;
}

.featuredBookName p {
    font-size: var(--text-small);
    color: var(--sub-color);
}

.featuredBookDesc p {
    font-size: var(--text-small);
}

/* ---------------------------Testimonials---------------------------- */

.testimonialSwiper {
    width: 100%;
    height: 100%;
}

.testimonialSwiperSlide {
    background-color: var(--sub-bg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 0.4;
    transition: opacity 0.5s ease, box-shadow 0.5s ease;
}

.testimonialSwiperSlideActive {
    opacity: 1;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.clientImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.clientImage img {
    height: 100%;
    border-radius: 50%;
}

/* ----------------------------------responsive------------------------ */


@media (max-width:995px) {
    .backToSchoolContainer {
        width: 100% !important;
    }

    .bestSellerContainer {
        display: none;
    }
}

@media (max-width:768px) {
    .backToSchool {
        padding: 22px 20px !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .backToSchoolContent {
        width: 100% !important;
        align-items: center;
        text-align: center;
    }

    .sectionTitle {
        width: 75% !important;
    }
}

@media (max-width:577px) {
    .saleImg {
        width: 50% !important;
        margin: 0 auto;
    }

    .inSaleImg {
        width: 50% !important;
        margin: 0 auto;
    }
}

@media (max-width:450px) {
    .sectionTitle {
        width: 90% !important;
    }

    .inSaleImg {
        width: 70% !important;
        margin: 0 auto;
    }

    .text-cente {
        text-align: center;
    }

    .details {
        flex-direction: column;
    }

    .inSaleImg img {
        min-height: 180px !important;
    }
}



.mySwiper3 {
    width: 350px;
    height: 350px;
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* margin-left: -150px; */
    /* margin-top: -150px; */
}

.mySwiper3 img {
    border-radius: 8px;
}

.swiperSide {
    background-position: center;
    background-size: cover;
    border-radius: 8px;
}

.swiperSide img {
    display: block;
    width: 100% !important;
    max-height: 350px;
}